@use '../core/Reset.scss' as *;
@use '../core/Variables.scss' as *;
@use '../core/Mixins.scss' as *;



.main--img__nb1{
    background-image: url(/src/images/Hermana_Furia_B3.png);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
  
  }

  .dossier--link__contact {
    position: absolute;
    width: 55vw;
    height: 80vh;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 1024px){
      overflow: scroll;
      justify-content:flex-start;
      align-items:normal;
      width: 95%;
    }
}

// @media (max-width: 1024px) {
//     .dossier--link__contact {
//         transform: translate(50%, 50%); 
//     }
// }

// @media (max-width: 768px) {
//     .dossier--link__contact {
//         transform: translate(50%, 50%); 
//     }
// }


  .grid--contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    width: 100%;
    @media (max-width: 1024px){
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  }

  .grid--contact__data{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    font-size: 0.8rem;
    width: 55vw;
    @media (max-width: 1024px){
      grid-template-columns: 1fr;
      justify-content: center;
      width: 100%;
    }
  }

  .grid--contact__div{
    width: 100%;
    & a{
      width: 100%;
    }
  }

  .media--title{
    font-family: $mainFont;
    color: $white;
    font-size: 1.5rem;
    padding-bottom:1.5rem;
    padding-top:1.5rem;
    text-align: center;
    width: 100%;
    @media (max-width: 1024px){
      font-size: 1rem;
    }
  }

  .media {
    font-family: $mainFont;
    color: $white; 
    border: 3px solid $white;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: color 0.3s ease, border-color 0.3s ease;
    &:hover {
      color:$mainColor; 
      border-color: $mainColor; 
    }
    @media (max-width: 1024px) {
      font-size: 0.9rem;
      align-items: center;
    }
  }
  
  .icon {
    margin-right: 0.5rem;
  }
  .fa-solid{
    padding-right: 0.5rem;
    &:hover {
      color: $mainColor; 
    }
  }