@use '../core/Reset.scss' as *;
@use '../core/Variables.scss' as *;
@use '../core/Mixins.scss' as *;

.main--img__profesional {
  background-image: url(/images/Hermana_Furia_B2.png);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.dossier--link {
  position: absolute;
  width: 40vw;
  height: 1000vh;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (max-width: 1024px) {
    width: 70vw;
  }
}
.grid--wrap{
  width: 100%;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.grid__item {
  height: 100%;
  width: 100%;
  align-content: center;
  border: 3px solid $black;
}

.btn {
  width: 100%;
  font-family: $mainFont;
  font-size: 2.5rem;
  color: $black;
  text-align: center;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.623);
  padding: 0.5rem;
  text-decoration: none;
}

.btn:hover {
  color: $mainColor;
  border-color: $mainColor;
  cursor: pointer;
}

.menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding-left: 1rem;
  z-index: 12;
}

.menu--item {
  list-style: none;
  font-size: 1.7rem;
  font-family: $mainFont;
  font-weight: 700;
}

.menu--item__link:hover {
  color: $mainColor;
}

#menu--toggle {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.menu--icon {
  color: #00000000;
}

@media (max-width: 1024px) {
  .menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100vw;
    height: 80vh;
    margin-top: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .menu--icon {
    display: block;
    font-size: 1.5rem;
    color: $black;
    position: absolute;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
  }

  .icon-hamburguer {
    display: inline;
  }
  .icon-close {
    display: none;
    opacity: 0;
  }

  #menu--toggle:checked ~ .menu--icon .icon-hamburguer {
    display: none;
  }

  #menu--toggle:checked ~ .menu--icon .icon-close {
    display: flex;
    opacity: 10;
  }

  #menu--toggle:checked ~ .menu--icon + .menu {
    display: flex;
  }
  // .btn {
  //   @media (max-width: 1024px) {
  //     display: flex;
  //     justify-content: center;
  //   }
  // }

}

.media--title2 {
  font-family: $mainFont;
  color: $mainColor;
  background-color: rgba(255, 255, 255, 0.623);
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
  padding: 0.2rem;
  border: 3px solid $black;
  @media (max-width: 1024px) {
    font-size: 1rem;
  }
}

.media2 {
  font-family: $mainFont;
  color: $black;
  border: 3px solid $black;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.623);
  transition: color 0.3s ease, border-color 0.3s ease;
  &:hover {
    color: $mainColor;
    border-color: $mainColor;
  }
  @media (max-width: 1024px) {
    font-size: 0.9rem;
  }
}

.icon {
  margin-right: 0.5rem;
}
.fa-solid {
  padding-right: 0.5rem;
  &:hover {
    color: $mainColor;
  }
}
.grid--contact__data2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  font-size: 0.8rem;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

.pin-container {
  background-image: url(/images/Hermana_Furia_B2.png);
  position: absolute;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 10px;
  width: 100vw;
  height: 100vh;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.pin-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pin-container input {
  padding: 0.5rem;
  border: 3px solid $black;
  font-size: 1rem;
}


.pin-container button {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  color: $white;
  background-color: $mainColor;
  border: 3px solid black;
  cursor: pointer;
}

.pin-container button:hover {
  background-color: darken($mainColor, 10%);
}

.pin-container h2 {
  color: $black;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: $mainFont;
}

.home-link {
  color: $black;
  text-decoration: none;
  margin-top: 2rem;
  display: inline-block;
  font-size: 1rem;
  font-family: $mainFont;
  border: 2px solid $black;
  background-color: rgba(255, 255, 255, 0.623);
  padding: 0.5rem;
}

.home-link:hover {
  color:$mainColor;
}

