@use '../core/Reset.scss' as *;
@use '../core/Variables.scss' as *;
@use '../core/Mixins.scss' as *;



.main--img__nb{
    background-image: url(/src/images/Hermana_Furia_B3.png);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
  }

// .dossier--link__tour{
//     position: absolute;
//     width: 60vw;
//     height: 1000vh;
//     bottom: 50%;
//     right: 50%;
//     transform: translate(50%,50%);
//     z-index: 10;
//     display: flex;
//     justify-content: center;
//     align-items: center;
  
//   }
  
  // .grid--tour{
  //   display: grid;
  //   grid-template-columns: 1fr;
  //   gap: 1rem;
  // }
  
  // .tour--dates{
  //   font-family: sans-serif;
  //   font-size: 1.5rem;
  //   text-shadow:3px 1px 4px black;
  //   color: whitesmoke;
  //   text-align: center;
  //   font-weight: 400;
  //   width: 100%;
  //   padding: 1.5rem;
  
  // }

  // .tour--dates:hover{
  //   color:#cf8dcb;
  // }

  // @media (max-width: 768px){
  //   .tour--dates{
     
  //     font-size: 1rem;
  
  //     padding: 1rem;
  
  // }
  
  // }


 .widget--container{
  position: absolute;
  position: absolute;
  width: 60vw;
  height: 80vh;
  bottom: 42%;
  right: 50%;
  transform: translate(50%,50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  overflow: scroll; 
  margin-top: 4rem;
  margin-bottom: 4rem;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none; 
  }
  @media (max-width:1024px){
    width: 75vw;
  }
}
.bit-widget-container{
  width: 100%;

}


